node_modules
.DS_Store
lib
dist
dist-stories
dist-ssr
workingDir
*.local
.vscode
yarn-error.log
.idea/workspace.xml
.pnpm-debug.log
*.tgz
.notes/

coverage/
**/coverage/
**/cypress/videos
**/cypress/screenshots